<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to the Diabetes Prediction Application</h1>
            <p>Created by Srijan Sareen</p>
        </header>
        <div class="navigation">
            <a href="{{ url_for('single_prediction') }}">Single Prediction</a>
            <a href="{{ url_for('batch_prediction') }}">Batch Prediction</a>
            <a href="http://localhost:8501">Streamlit Application</a>
        </div>
    </div>
</body>
</html>
